/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
cololrs: FFE492,
043873s,
4F9CF9
*/
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;600;700&display=swap');

/* Basic css */
body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: rgb(97, 91, 91);
    color: #fff;
}